
.labo-css{
 background-color: #4CAF50;
 text-decoration: none;
 border: none;
 color: white;
 border-radius: 4px;
 text-decoration:underline;
 padding: 15px 32px 15px 32px;
 font-size: 16px;
 margin:  4px 2px;
 cursor: pointer;
 text-align: center;

}
.labo-css:hover{
    transition: 0.9s;
   background-color:  #3e8e41;
}
